body{
    background-color: bisque;
}
p{
    color: darksalmon;
    font-family: sans-serif;
    font-size: 108;
    font-style: oblique;
    font: verdana;
}

o{
    color: darksalmon;
    font-family: sans-serif;
    font-size: 108;
    font-style: oblique;
}